<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tuinbouw</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.InlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/inloggen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtbeheer</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtLeeslijstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtbeheer</servlet-name>
    <url-pattern>/opdrachtenMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantbeheer</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantLeeslijstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantbeheer</servlet-name>
    <url-pattern>/klantenMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facturatiebeheer</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.FacturatiebeheerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facturatiebeheer</servlet-name>
    <url-pattern>/facturatieMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>materiaalbeheer</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.MateriaalLeeslijstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>materiaalbeheer</servlet-name>
    <url-pattern>/materialenMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelbeheer</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelLeeslijstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelbeheer</servlet-name>
    <url-pattern>/personeelMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bedrijfsgegevens</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.BedrijfsgegevensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedrijfsgegevens</servlet-name>
    <url-pattern>/bedrijfsgegevensMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelOpslaan</servlet-name>
    <url-pattern>/personeelslidOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelToonDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelToonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelToonDetail</servlet-name>
    <url-pattern>/personeelToonDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelVerwijderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelVerwijderen</servlet-name>
    <url-pattern>/personeelslidVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelAdresOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelAdresOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelAdresOpslaan</servlet-name>
    <url-pattern>/personeelAdresOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelAdresVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelAdresVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelAdresVerwijderen</servlet-name>
    <url-pattern>/personeelAdresVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bedrijfsgegevensWijzigen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.BedrijfsgegevensWijzigenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedrijfsgegevensWijzigen</servlet-name>
    <url-pattern>/bedrijfsgegevensWijzigen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bedrijfWachtwoordWijzigen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.BedrijfsWachtwoordWijzigenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedrijfWachtwoordWijzigen</servlet-name>
    <url-pattern>/bedrijfWachtwoordWijzigen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bedrijfsGegevensAdresOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.BedrijfsgegevensAdresOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedrijfsGegevensAdresOpslaan</servlet-name>
    <url-pattern>/bedrijfsGegevensAdresOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bedrijfsGegevensAdresVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.BedrijfsgegevensAdresVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedrijfsGegevensAdresVerwijderen</servlet-name>
    <url-pattern>/bedrijfsGegevensAdresVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantParticulierToonDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantParticulierToonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantParticulierToonDetail</servlet-name>
    <url-pattern>/klantParticulierToonDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>materiaalOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.MateriaalOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>materiaalOpslaan</servlet-name>
    <url-pattern>/materiaalOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>materiaalWijzigen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.MateriaalWijzigenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>materiaalWijzigen</servlet-name>
    <url-pattern>/materiaalWijzigen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>materiaalVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.MateriaalVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>materiaalVerwijderen</servlet-name>
    <url-pattern>/materiaalVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantToonDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantToonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantToonDetail</servlet-name>
    <url-pattern>/klantToonDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantOpslaan</servlet-name>
    <url-pattern>/klantOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantAdresOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantAdresOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantAdresOpslaan</servlet-name>
    <url-pattern>/klantAdresOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>klantAdresVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.KlantAdresVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>klantAdresVerwijderen</servlet-name>
    <url-pattern>/klantAdresVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtToonDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtToonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtToonDetail</servlet-name>
    <url-pattern>/opdrachtToonDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtOpslaan</servlet-name>
    <url-pattern>/opdrachtOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtVerwijderen</servlet-name>
    <url-pattern>/opdrachtVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taakToonDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.TaakToonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taakToonDetail</servlet-name>
    <url-pattern>/taakToonDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taakOpslaan</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.TaakOpslaanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taakOpslaan</servlet-name>
    <url-pattern>/taakOpslaan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taakVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.TaakVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taakVerwijderen</servlet-name>
    <url-pattern>/taakVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtMateriaalToevoegen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtMateriaalToevoegenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtMateriaalToevoegen</servlet-name>
    <url-pattern>/opdrachtMateriaalToevoegen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opdrachtMateriaalVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.OpdrachtMateriaalVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opdrachtMateriaalVerwijderen</servlet-name>
    <url-pattern>/opdrachtMateriaalVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taakPlanningToevoegen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.TaakPlanningToevoegenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taakPlanningToevoegen</servlet-name>
    <url-pattern>/taakPlanningToevoegen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>taakGeplandeWerknemerVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.TaakGeplandeWerknemerVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taakGeplandeWerknemerVerwijderen</servlet-name>
    <url-pattern>/taakGeplandeWerknemerVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelToonTakenlijst</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelToonTakenlijstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelToonTakenlijst</servlet-name>
    <url-pattern>/personeelToonTakenlijst</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personeelbeheerTaakVerwijderen</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.PersoneelbeheerTaakVerwijderenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personeelbeheerTaakVerwijderen</servlet-name>
    <url-pattern>/personeelbeheerTaakVerwijderen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facturatieDetail</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.FacturatieDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facturatieDetail</servlet-name>
    <url-pattern>/facturatieDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>genereerPdf</servlet-name>
    <servlet-class>be.miras.programs.frederik.controller.FacturatieDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>genereerPdf</servlet-name>
    <url-pattern>/genereerPdf</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>exporteerPrestaties</servlet-name>
  	<servlet-class>be.miras.programs.frederik.controller.ExporteerPrestatiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>exporteerPrestaties</servlet-name>
  	<url-pattern>/exporteerPrestaties</url-pattern>
  </servlet-mapping>
  
  <!--REST-->
  
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>be.miras.kristof.rest.app.RestApp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
  
</web-app>